:root{ 
    --data-color-yellow: #F7B610; 
    --data-color-red:  #E30D2C; 
  }

.header-order{    
    background-color: var(--main-color-yellow);
    border: 2pt solid  #afa09f;
    
}

.name-client{
    color: #F7B610;
    border: 2pt solid  #e52d27;
}

.total-bill{
    color: #e52d27;
    border: 2pt solid  #e52d27;
}

.btn-post-order{
    background-color: #F7B610;
    color: var(--main-color-red);
    text-align: center;
}