$blue: #071685;
$yellow: #F7B610;
$red:  #E30D2C;

section {
display:flex;
width: 50%;
height: 569px;
left: 55%;
top: 214%;
margin-top: 6%;
background:$yellow;
opacity: 0.5;
border: 20px solid $yellow;
box-sizing: border-box;
border-radius: 30px 0px 0px 30px;
}

.menu{
display: flex;
width: 107px;
height: 54px;
left: 55%;
top: 214%;
margin-top: 0.2%;
margin-left: 40%;

font-family: Bangers;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 53px;
color: #E30D2C;
border: 5px solid #EEEEEE;
}

tr {
display: flex;
font-size: 30px;
padding-top: 10%;
color: #1A1919;
}

th { list-style: none; } 


