$blue: #071685;
$yellow: #F7B610;
$red:  #E30D2C;

.chooseOptionHome {
  margin-top: 5%;
  margin-left: 5%;
}

@mixin button($ancho, $alto) {
  width: $ancho;
  height: $alto;
}
    
.options-button {
  @include button(157px, 45px);
}

.options-button {
  background: $yellow;
  background: rgba(247, 182, 16, 0.5);
  border-radius: 20px 20px 0px 0px;
  font-size: large;
}

.articleButton {
  flex-direction: row;
}

.yellowSection {
display:flex;
width: 50%;
height: 569px;
left: 55%;
top: 214%;
margin-top: 6%;
background:$yellow;
opacity: 0.5;
border: 20px solid $yellow;
box-sizing: border-box;
border-radius: 30px 0px 0px 30px;
}

.menu{
display: flex;
width: 107px;
height: 54px;
left: 55%;
top: 214%;
margin-top: 0.2%;
margin-left: 40%;

font-family: Bangers;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 53px;
color: #E30D2C;
border: 5px solid #EEEEEE;
}

$layout-breakpoint-tablet: 400px;
// aqui todo lo modificado afecta la vista tablet
@media (min-width: $layout-breakpoint-tablet) {
  .chooseOptionHome {
    margin-top: 15%;
    margin-left: 38%;
  }

  .options-button {
    margin-left: 40%;
    margin-top: 2%;
    padding-left: 7%;
    padding-top: 1%;
    font-size: xx-large;
  }
  
  .articleButton {
    display: flex;
    flex-direction: row;
  }
}

