<section>
  <app-milogo [logoHijo]="logoPadre"></app-milogo>

      <h1>
        Hola, usuario por favor escoge una opcion:
      </h1>

    <ul>
      <!-- <li routerLink="nav">navbar</li>
      <li routerLink="breakfast">breakfast</li>
      <li routerLink="register">register</li>-->
      <button class= "options-button" routerLink="breakfast">Desayuno</button>
      <button class= "options-button" routerLink="registrer">Almuerzo</button >
      <button class= "options-button"  routerLink="orders">Pedidos</button >

    </ul>
    
    <router-outlet></router-outlet>
  </section>
