$blue: #071685;
$blueTranspa: rgba(7, 22, 133, 0.5);
$yellow: #F7B610;
$yellowTranspa: rgba(247, 182, 16, 0.5);
$red:  #E30D2C;
$redTranspa: rgba(227, 13, 44, 0.5);
$gray: #E3DED5;
$grayTranspa: rgba(227, 222, 213, 0.5);

@mixin button($ancho, $alto) {
  width: $ancho;
  height: $alto;
}
    
.options-button {
  @include button(157px, 45px);
}

.options-button {
  background: $yellow;
  background: $yellowTranspa;
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
  font-size: large;
}

.articleButton {
  flex-direction: row;
}

.breakfast-section-container {
  display: flex;
  flex-direction: row;
}

.yellow-section-left {
width: 49vw;
height: 65vh;
margin-left: 1%;
margin-right: 0.5%;
background: $yellowTranspa;
box-sizing: border-box;
border-radius: 30px 0px 0px 30px;
}

.menu{
  margin-top: 2%;
  margin-left: 43%;
  font-family: 'Bangers';
  font-style: normal;
  font-weight: normal;
  font-size: 300%;
  color: $red;
  
}

.yellow-section-right {
  margin-right: 1%;
  width: 49vw;
  height: 65vh;
  background: $yellowTranspa;  
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
}

.client-info-select {
  width: 43vw;
  height: 10%;
  margin-left: 5%;
  margin-top: 5%;
  background: $grayTranspa;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
}

.product-resume-total {  
  width: 43vw;
  height: 65%;
  margin-left: 5%;
  margin-top: 5%;
  background: $grayTranspa;
  box-sizing: border-box;
  border-radius: 0px 30px 30px 0px;
}

.total-amount {
  position: absolute;
  bottom:17%;
  width: 35%;
  height: 7%;
  margin-left: 3%;
  background: $redTranspa;
  border-radius: 0px 30px 30px 0px;
}

.cancel-order {
  width: 153px;
  height: 64px;
  margin-left: 15%;
  margin-top: 2%;
  background: $red;
  border: 1px solid $red;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.send-order {
  width: 222px;
  height: 64px;
  margin-left: 15%;
  margin-top: 2%;
  background: $yellow;
  border: 20px solid $yellow;
  box-sizing: border-box;
  border-radius: 30px;
}

$layout-breakpoint-tablet: 400px;
// aqui todo lo modificado afecta la vista tablet
@media (min-width: $layout-breakpoint-tablet) {
  .options-button {
    margin-left: 4%;
    margin-top: 4%;
    font-size: xx-large;
  }
  
  .articleButton {
    display: flex;
    flex-direction: row;
  }
}

