<section>

  <app-navbar [hijoNavbar]="padreNavbar"></app-navbar>


    <article class="articleButton">
      <button class= "options-button" routerLink="/home"(click)="getProducts()">Desayuno</button>
      <button class= "options-button" routerLink="lunch">Almuerzo</button >
      <button class= "options-button"  routerLink="orders">Pedidos</button >
    </article>
  
  <div class="breakfast-section-container">
    <article class="yellow-section-left">
      <p class="menu">MENU</p>

      <table class="table-products">
        <tr *ngFor= "let product of products; let i = index">
          <td>{{product.name}}</td>
          <td> S./{{product.price}}</td>
        </tr>
      </table>
      <router-outlet></router-outlet>
    </article>
    
     <article class="yellow-section-right">

      <p class="client-info-select">CLIENTE</p>
      <div class="product-resume-total">
        PRODUCTO CANT PRECIO
        <p class="total-amount">TOTAL</p>
      </div>

      <button class="cancel-order">CANCELAR</button>
      <button class="send-order">ENVIAR A COCINA</button>

    </article>
  </div>


      
</section>
