form {
  font-family: 'Bangers', cursive;
  font-size: 100%;
}

@mixin input($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

.loginForm {
  @include input(465px, 62px);
}

.loginForm {
  display: flex;
  background: #F7B610;
  border: 10px solid #F7B610;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-top: 2%;
  margin-left: 25%;
  font-family: 'Bangers', cursive;
}

.loginForm-button {
  @include input(190px, 62px);
}

.loginForm-button {
  display: flex;
  background: #F7B610;
  border: 10px solid #F7B610;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-top: 2%;
  margin-left: 40%;
  font-family: 'Bangers', cursive;
}
