@mixin container($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

.logo {
  @include container(362px, 130px);
  display: flex;
  margin: 85px;
}

article {
  text-align: center;
}

$layout-breakpoint-tablet: 321px;

@media (min-width: $layout-breakpoint-tablet) {
  .logo {
    @include container(462px, 130px);
    display: flex;
    margin: 145px;
  }
}
