@mixin container($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

.logo {
  @include container(362px, 130px);
  display: flex;
  margin-top: 40%;
  margin-left: 20%;
}

article {
  text-align: center;
}

$layout-breakpoint-tablet: 321px;

@media (min-width: $layout-breakpoint-tablet) {
  .logo {
    @include container(462px, 130px);
    display: flex;
    margin-left: 35%;
  }
}
