<article class="yellow-section-right">
  <div class="client-name-container">
    <input class="client-info-select" [(ngModel)]="client">
    <span>{{ client }}</span>
  </div>

    <div class="product-resume-total">
      <!-- <p>
        {{ counter }}
      </p> -->
      
        <table class="table-products">
          <tr>
            <th> PRODUCTOS </th>
            <th> CANTIDAD </th>
            <th> PRECIOS </th>

          </tr>
          <tr *ngFor= "let item of items">
            <!-- <div *ngIf="typeProduct===product.type">
              <div (click)= "sendOrder(product)"> -->
                <td class="product-name">{{item.name}}</td>
                <td><input type="number" value="" [(ngModel)]=item.quantity></td>
                <td class="product-price"> S/{{item.price}}</td>
                <td> <button type="button" (click)="remove(item)">Remove</button></td>
                <!-- </div>
      </div> -->
      </tr>
        </table>
      
      <!-- <p>cantidad total de cada tipo de producto: {{totalQuantity}}</p> -->
      <p class="total-amount">Precio total: {{totalPrice}}</p>
    </div>

    <button class="cancel-order">CANCELAR</button>
    <button class="send-order">ENVIAR A COCINA</button>

  </article>
