/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
}

body {
  background-image: url(https://img.freepik.com/foto-gratis/texturas-pared-ladrillo-blanco-fondo_74190-6515.jpg?size=626&ext=jpg);
  background-size: cover;

}


