<article class="articleButton">
  <button class= "options-button" (click)="getProducts('breakfast')">Desayuno</button> 
  <button class= "options-button" (click)="getProducts('lunch')">Almuerzo</button>
  <button class= "options-button" routerLink="orders">Pedidos</button>
</article>

<article class="yellow-section-left">
  <p class="menu">MENU</p>
  <table class="table-products">
    <tr class="">
      <th class="title-products"> PRODUCTOS </th>
      <th class="title-products"> PRECIOS </th>
    </tr>
    <tr *ngFor= "let product of products; index as i">
      <!-- <div *ngIf="typeProduct===product.type">
        <div (click)= "sendOrder(product)"> -->
          <td class="product-name">{{product.name}}</td>
          <td class="product-price"> S/{{product.price}}</td>
          <img src="../../../assets/menu/{{product.image}}" width="50px"alt="{{product.image}}" class="product-image">
          <td>
            <button class="button-add-product" type="button" (click)="addCart(product)">
              <span class="iconify add-product" data-inline="false" data-icon="clarity:plus-circle-solid"></span>
            </button>
          </td>
          <!-- </div>
</div> -->
</tr>
  </table>
</article>
